In [62]:
import pandas as pd
import numpy as np

df = pd.read_csv("global_flow_region_contry_2005.csv")
df

,region_orig,region_orig_id,region_dest,region_dest_id,country_orig,country_orig_id,country_dest,country_dest_id,regionflow_2005,countryflow_2005,metadata
0,South Asia,6,North America,1,Afghanistan,AFG,Canada,CAN,1508008,12270,Estimates of bilateral migration flows at regi...
1,South Asia,6,North America,1,Afghanistan,AFG,United States,USA,1508008,13781,The estimates capture the number of people who...
2,South Asia,6,Africa,2,Afghanistan,AFG,Angola,AGO,63471,0,NaN
3,South Asia,6,Africa,2,Afghanistan,AFG,Burundi,BDI,63471,0,NaN
4,South Asia,6,Africa,2,Afghanistan,AFG,Benin,BEN,63471,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38411,Africa,2,Latin America,10,Zimbabwe,ZWE,Trinidad & Tobago,TTO,12316,5,NaN
38412,Africa,2,Latin America,10,Zimbabwe,ZWE,Uruguay,URY,12316,0,NaN
38413,Africa,2,Latin America,10,Zimbabwe,ZWE,Saint Vincent & Grenadines,VCT,12316,3,NaN
38414,Africa,2,Latin America,10,Zimbabwe,ZWE,Venezuela,VEN,12316,28,NaN
38415,Africa,2,Latin America,10,Zimbabwe,ZWE,Virgin Islands,VIR,12316,0,NaN

In [48]:
x = df.groupby(['region_orig','region_orig_id'])['countryflow_2005'].sum()
print(x)

region_orig       region_orig_id
Africa            2                  7331806
East Asia         7                  2852290
Europe            3                  2969070
Fmr Soviet Union  4                  2538065
Latin America     10                 6492672
North America     1                  2028565
Oceania           9                   428789
South Asia        6                 10141372
South-East Asia   8                  4887574
West Asia         5                  1815397
Name: countryflow_2005, dtype: int64

In [ ]:
print(str(x) + "_hello")
    print(region_filter['countryflow_2005'].sum())
    if x == 1:
        countries_na = ['USA', 'CAN']
        for y in countries_na:
            print(y+ "_hello")
            print(region_filter.loc[region_filter.country_dest_id == y ]['countryflow_2005'].sum())

In [204]:
regions = [1,10,2,3,4,5,6,8,9]
for x in regions:
    region_filter = df.loc[(df.region_orig_id == 7) & (df.region_dest_id == x)]
    if x == 1:
        countries_na = ['USA', 'CAN']
        for y in countries_na:
            print(region_filter.loc[region_filter.country_dest_id == y ]['countryflow_2005'].sum())
    countries_ea = ['CHN', 'JPN', 'PRK', 'KOR', 'MNG']
    for y in countries_ea:
        print(y + str(x))
        print(region_filter.loc[region_filter.country_orig_id == y ]['countryflow_2005'].sum())

816669
241235
CHN1
778732
JPN1
9995
PRK1
0
KOR1
215573
MNG1
270
CHN10
23303
JPN10
1856
PRK10
78
KOR10
9315
MNG10
7
CHN2
15300
JPN2
679
PRK2
0
KOR2
678
MNG2
9
CHN3
295352
JPN3
18963
PRK3
64
KOR3
33424
MNG3
7004
CHN4
23067
JPN4
1090
PRK4
27901
KOR4
7613
MNG4
5628
CHN5
1215
JPN5
919
PRK5
0
KOR5
279
MNG5
60
CHN6
97
JPN6
15
PRK6
0
KOR6
5
MNG6
0
CHN8
82066
JPN8
42205
PRK8
0
KOR8
11330
MNG8
2
CHN9
188016
JPN9
20364
PRK9
0
KOR9
51868
MNG9
336

In [207]:
regions = [7]
for x in regions:
    region_filter = df.loc[(df.region_orig_id == 7) & (df.region_dest_id == x)]
    
    countries_ea = ['CHN', 'JPN', 'PRK', 'KOR', 'MNG']
    for y in countries_ea:
        if 
        print(y + str(x))
        print(region_filter.loc[(region_filter.country_dest_id != 'CHN')&(region_filter.country_dest_id != 'JPN')&(region_filter.country_dest_id != 'PKR')&(region_filter.country_dest_id != 'KOR')&(region_filter.country_dest_id != 'CHN')&(region_filter.country_dest_id == y) ]['countryflow_2005'].sum())

CHN7

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [183]:
#region filter
region_filter['countryflow_2005'].sum()

6748

In [181]:
#country filter
region_filter.query("country_dest_id == 'MNG'")['countryflow_2005'].sum()

52

In [58]:
#filter out for country data just for these two continents
df.query("region_orig == 'North America' & region_dest == 'Latin America'")

Empty DataFrame
Columns: [region_orig, region_orig_id, region_dest, region_dest_id, country_orig, country_orig_id, country_dest, country_dest_id, regionflow_2005, countryflow_2005, metadata]
Index: []

In [25]:
countries_Interest = ['China', 'Japan', 'North Korea', 'South Korea', 'Mongolia', 'Taiwan', 'United States', 'Canada']

asian_northamerican = df.loc[(df['country_orig'].isin(countries_Interest)) & (df['country_dest'].isin(countries_Interest))]

In [28]:
important = asian_northamerican[['region_orig_id', 'region_dest_id', 'country_orig', 'country_dest', 'countryflow_2005']]

In [29]:
important

,region_orig_id,region_dest_id,country_orig,country_dest,countryflow_2005
5684,1,1,Canada,Canada,0
5685,1,1,Canada,United States,28
5814,1,7,Canada,China,642
5816,1,7,Canada,Japan,185
5817,1,7,Canada,South Korea,1191
5819,1,7,Canada,Mongolia,17
5820,1,7,Canada,North Korea,42
6860,7,1,China,Canada,163196
6861,7,1,China,United States,615536
6990,7,7,China,China,0
6992,7,7,China,Japan,145965
6993,7,7,China,South Korea,216747
6995,7,7,China,Mongolia,4509
6996,7,7,China,North Korea,15389
17052,7,1,Japan,Canada,6867
17053,7,1,Japan,United States,3128
17182,7,7,Japan,China,1832
17184,7,7,Japan,Japan,0
17185,7,7,Japan,South Korea,2393
17187,7,7,Japan,Mongolia,149
17188,7,7,Japan,North Korea,110
22736,7,1,Mongolia,Canada,260
22737,7,1,Mongolia,United States,10
22866,7,7,Mongolia,China,4
22868,7,7,Mongolia,Japan,0
22869,7,7,Mongolia,South Korea,8263
22871,7,7,Mongolia,Mongolia,0
22872,7,7,Mongolia,North Korea,0
25284,7,1,North Korea,Canada,0
25285,7,1,North Korea,United States,0
25414,7,7,North Korea,China,0
25416,7,7,North Korea,Japan,0
25417,7,7,North Korea,South Korea,0
25419,7,7,North Korea,Mongolia,109
25420,7,7,North Korea,North Korea,0
31556,7,1,South Korea,Canada,39143
31557,7,1,South Korea,United States,176430
31686,7,7,South Korea,China,39735
31688,7,7,South Korea,Japan,27986
31689,7,7,South Korea,South Korea,0
31691,7,7,South Korea,Mongolia,819
31692,7,7,South Korea,North Korea,2628
36260,1,1,United States,Canada,96074
36261,1,1,United States,United States,0
36390,1,7,United States,China,11317
36392,1,7,United States,Japan,6876
36393,1,7,United States,South Korea,17775
36395,1,7,United States,Mongolia,324
36396,1,7,United States,North Korea,646

In [32]:
filter_df = df[['region_orig_id', 'region_dest_id', 'country_orig', 'country_dest', 'countryflow_2005']]

In [35]:
filter_df.query("country_orig == 'United States' and region_dest_id == ")

,region_orig_id,region_dest_id,country_orig,country_dest,countryflow_2005
6990,7,7,China,China,0
6991,7,7,China,Hong Kong,251540
6992,7,7,China,Japan,145965
6993,7,7,China,South Korea,216747
6994,7,7,China,Macao,49007
6995,7,7,China,Mongolia,4509
6996,7,7,China,North Korea,15389
14830,7,7,Hong Kong,China,1862
14831,7,7,Hong Kong,Hong Kong,0
14832,7,7,Hong Kong,Japan,24
14833,7,7,Hong Kong,South Korea,209
14834,7,7,Hong Kong,Macao,4711
14835,7,7,Hong Kong,Mongolia,2
14836,7,7,Hong Kong,North Korea,100
17182,7,7,Japan,China,1832
17183,7,7,Japan,Hong Kong,1819
17184,7,7,Japan,Japan,0
17185,7,7,Japan,South Korea,2393
17186,7,7,Japan,Macao,0
17187,7,7,Japan,Mongolia,149
17188,7,7,Japan,North Korea,110
19926,7,7,Macao,China,3476
19927,7,7,Macao,Hong Kong,1367
19928,7,7,Macao,Japan,0
19929,7,7,Macao,South Korea,0
19930,7,7,Macao,Macao,0
19931,7,7,Macao,Mongolia,0
19932,7,7,Macao,North Korea,0
22866,7,7,Mongolia,China,4
22867,7,7,Mongolia,Hong Kong,0
22868,7,7,Mongolia,Japan,0
22869,7,7,Mongolia,South Korea,8263
22870,7,7,Mongolia,Macao,0
22871,7,7,Mongolia,Mongolia,0
22872,7,7,Mongolia,North Korea,0
25414,7,7,North Korea,China,0
25415,7,7,North Korea,Hong Kong,0
25416,7,7,North Korea,Japan,0
25417,7,7,North Korea,South Korea,0
25418,7,7,North Korea,Macao,0
25419,7,7,North Korea,Mongolia,109
25420,7,7,North Korea,North Korea,0
31686,7,7,South Korea,China,39735
31687,7,7,South Korea,Hong Kong,561
31688,7,7,South Korea,Japan,27986
31689,7,7,South Korea,South Korea,0
31690,7,7,South Korea,Macao,0
31691,7,7,South Korea,Mongolia,819
31692,7,7,South Korea,North Korea,2628